@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* disable scroll to refresh on iOS */
  overflow: hidden;
}

div {
  cursor: default;
}

/* desktop disable cursor */
@media only screen and (min-width: 768px) {

  a,
  button,
  body,
  div {
    cursor: none;
  }


}